<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Healthcare</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
    <p>
        <label for="start-date">開始日</label>
        <input type="date" id="start-date">
    </p>
    <p>
        <label for="end-date">終了日</label>
        <input type="date" id="end-date">
    <p>
        <label for="data-type">データ種別</label>
        <select id="data-type" size="5" multiple></select>
    </p>
    <canvas id="canvas"></canvas>
</body>
</html>